.idea/
bin/
dist/
.malice/
go.sum
helper/intl/professional/*
!helper/intl/professional/.gitkeep
helper/intl/custom/*
!helper/intl/custom/.gitkeep
*.bin
*.so
*.auth
*.log
*.test.exe
.gomodcache/
.gocache/
/config.yaml
/server/config.yaml
/client.exe
/server.exe
/client_linux_amd64
/server_linux_amd64
/core
/testinventory.exe
helper/intl/community/resources/
helper/intl/community/modules/
helper/intl/community/main.lua
helper/intl/community/mal.yaml
