[submodule "proto"]
	path = proto
	url = https://github.com/chainreactors/proto/
[submodule "external/IoM-go"]
	path = external/IoM-go
	url = https://github.com/chainreactors/IoM-go
[submodule "helper/intl/community/community"]
	path = helper/intl/community/community
	url = https://github.com/chainreactors/mal-intl
