server:
  grpc_port: 5004
  grpc_host: 0.0.0.0
  mcp_port: 5005
  ip: 127.0.0.1
  audit: 1  # 0 close , 1 basic , 2 detail
  enable: true
  config:
    packet_length: 10485760 # 10M: 1024*1024*10
    certificate:
    certificate_key:
  notify:
    enable: false
    lark:
      enable: false
      webhook_url:
  github:
    repo: malefic
    workflow: generate.yml
    owner:
    token:

listeners:
  name: listener
  auth: listener.auth
  enable: true
  ip: 127.0.0.1
  tcp:
    - name: tcp_malefic
      port: 5001
      host: 0.0.0.0
      protocol: tcp
      parser: malefic
      enable: true
      auto_build:
        target:
          - x86_64-unknown-linux-musl
      tls:
        enable: false
        name: default
        CN: "test"
        O: "Sharp Depth"
        C: "US"
        L: "Houston"
        OU: "Persistent Housework, Limited"
        ST: "State of Texas"
        validity: "365"
        cert_file: ""
        key_file: ""
        ca_file: ""
      encryption:
        enable: true
        type: aes
        key: maliceofinternal
    - name: tcp_pulse
      port: 5002
      host: 0.0.0.0
      parser: pulse
      auto_build:
        target:
          - x86_64-pc-windows-gnu
        beacon_pipeline: tcp_malefic
      enable: true
      encryption:
        enable: true
        type: xor
        key: maliceofinternal
  http:
    - name: http-malefic
      enable: true
      host: 0.0.0.0
      port: 8080
      parser: malefic
      tls:
        enable: false
        name: default
        CN: "test"
        O: "Sharp Depth"
        C: "US"
        L: "Houston"
        OU: "Persistent Housework, Limited"
        ST: "State of Texas"
        validity: "365"
        cert_file: ""
        key_file: ""
        ca_file: ""
      encryption:
        enable: true
        type: aes
        key: maliceofinternal
      auto_build:
        target: ["windows/amd64"]
      error_page: ""
    - name: http-pulse
      enable: true
      host: 0.0.0.0
      port: 8081
      parser: pulse
      encryption:
        enable: true
        type: xor
        key: maliceofinternal
      auto_build:
        target: [ "windows/amd64" ]
        beacon_pipeline: http-malefic
      error_page: ""
  bind:
    -
      name: bind_pipeline
      enable: true
      encryption:
        enable: true
        type: aes
        key: maliceofinternal
  website:
    - name: default-website
      port: 80
      root: "/"
      enable: true

  rem:
    -
      name: rem_default
      enable: true
      console: tcp://0.0.0.0:12345