ca: .
opsec: true

server:
  grpc_port: 5004
  grpc_host: 127.0.0.1
  audit: 1  # 0 close , 1 basic , 2 detail
  config:
    packet_length: 100 # 1M

listeners:
  server_addr: 127.0.0.1:5004
  name: default
  tcp:
    - name: tcp_default
      port: 5001
      host: 0.0.0.0
      protocol: tcp
      enable: true